body {

}

#page-wrapper {

}

#header {
	text-decoration: none;
	position: absolute;
	top:-34px;
	right: 10px;
	color: white;
	font-size: 1.8em;
}

#header h1 {
	position: absolute;
	left: 420px;
	top:5px;
	font-size: 3em;
	font-family: 'Devonshire', cursive;
	color: #E35335;
}

#header a#logo1 img {

}

#header #toplink {

}

#footer {

}

#content-wrapper {

}

#main-content {

}

h2 strong {
	font-size: 2em;
	font-weight: 900;
}


.imageR {

}


#side-content {

}


#main-nav {

}


#main-nav ul {

}


#main-nav ul li {

}
